@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --red: hsl(0, 97%, 63%);
  --dark-blue: hsl(223, 30%, 9%);
  --grayish-blue: hsl(223, 23%, 46%);
  --semi-dark-blue: hsl(223, 36%, 14%);
  --white: hsl(0, 0%, 100%);
}

.outfit-light {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.outfit-medium {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;

  /* overflow-x: hidden; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--semi-dark-blue);

  padding-block: 1.125rem;
  padding-inline: 1rem;
}
#logo {
  width: 1.5625rem;
  height: 1.25rem;
}
#nav-menu {
  display: flex;
  padding: 0;

  align-items: center;
  gap: 1.5rem;
  & li {
    list-style: none;
  }

  & input {
    display: none;
  }

  & svg {
    color: var(--grayish-blue);
    transform: scale(0.8);
    /* width: 1rem; */
    /* height: 1rem; */

    &#nav-bookmark {
      transform: scale(1.15);
    }
  }
}

#profile-con {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.0625rem solid var(--white);
  border-radius: 50%;
}
.search-con {
  display: flex;

  padding-block: 1.5rem;
  padding-inline: 1rem;
  gap: 1rem;

  & img {
    width: 1.5rem;
    height: 1.5rem;
  }
  & #search {
    /* all: unset; */
    color: var(--white);
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    line-height: 1.25;
    outline: none;
    padding: 0;
    width: 100%;
    caret-color: var(--red);
  }
}
.trending-con {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline-start: 1rem;
}

.trending-slider {
  display: inline flex;
  gap: 1rem;
  overflow-x: auto;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  & > ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.img-con {
  position: relative;
  width: max-content;
  height: max-content;

  & picture {
    width: 15rem;
    height: 8.75rem;
  }

  & .bookmark-con {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  & .trending-details {
    position: absolute;
    bottom: 1rem;
    left: 1rem;

    & .rating-con {
      display: flex;
    }
  }
}
#trending-header {
  font-size: 1.25rem;
  letter-spacing: -0.019375rem;
  line-height: 1.25;

  color: var(--white);
}
