@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --red: hsl(0, 97%, 63%);
  --dark-blue: hsl(223, 30%, 9%);
  --grayish-blue: hsl(223, 23%, 46%);
  --semi-dark-blue: hsl(223, 36%, 14%);
  --white: hsl(0, 0%, 100%);
}

.outfit-light {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.outfit-medium {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

html {
  height: 100%;
  margin: 0 auto;
  max-width: 90rem;
}

body {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  min-height: 100%;

  /* max-width: 90rem; */

  /* overflow-x: hidden; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--semi-dark-blue);

  padding-block: clamp(1.125rem, 0.7672rem + 1.5267vw, 1.5rem)
    clamp(1.125rem, 0.8626rem + 1.1196vw, 1.4rem);

  padding-inline: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
  margin-inline: clamp(0rem, -1.4909rem + 6.3613vw, 1.5625rem);

  margin-block-start: clamp(0rem, -1.3717rem + 5.8524vw, 1.4375rem);
  border-radius: clamp(0rem, -0.5964rem + 2.5445vw, 0.625rem);
  /* Mobile */
  /* padding-block: 1.125rem; */
  /* padding-inline: 1rem; */

  /* Tablet */
  /* padding-block: 1.5rem 1.4rem; */
  /* padding-inline: 1.5rem; */
  /* margin-inline: 1.5625rem; */
  /* margin-block-start: 1.4375rem; */
  /* border-radius: 0.625rem; */
  /* Desktop */
  padding-block: 1.838125rem 0;
  padding-inline: 1.363125rem 2.63375rem;
  margin-inline: 2.625rem 0;
  margin-block: 2.375rem;
  border-radius: 1.25rem;
}
main {
  margin-block-end: 3.8125rem;
  overflow-x: auto;
}
#logo {
  /* Mobile */
  width: 1.5625rem;
  height: 1.25rem;
  /* Tablet */
  width: 2rem;
  height: 1.6rem;
}
#nav-menu {
  display: flex;
  padding: 0;

  align-items: center;
  /* Tablet and Mboile */
  gap: 1.5rem;
  /* Desktop */
  gap: 2.5rem;

  & li {
    list-style: none;
  }

  & input {
    display: none;
  }

  & svg {
    color: var(--grayish-blue);
    transform: scale(0.8);
    /* width: 1.25rem;
    height: 1.25rem; */

    &#nav-bookmark {
      transform: scale(1.15);
    }

    &:has(+ input:checked) {
      color: var(--white);
    }
  }
}
#home {
  display: flex;
  flex-direction: column;
  /* Mobile */
  gap: 1.5rem;
  /* Tablet */
  gap: 2.4375rem;
  /* Desktop */
  gap: 2.5rem;
}
#profile-con {
  /* Mobile */
  width: 1.5rem;
  height: 1.5rem;
  border: 0.0625rem solid var(--white);
  /* Tablet */
  width: 2rem;
  height: 2rem;
  border: 0.0625rem solid var(--white);
  border-radius: 50%;
  /* Desktop */
  width: 2.5rem;
  height: 2.5rem;
  border: 0.0625rem solid var(--white);
  border-radius: 50%;
}
.search-con {
  display: flex;

  /* Mobile */
  padding-block: 1.5rem;
  padding-inline: 1rem;
  gap: 1rem;
  /* Tablet */
  padding-block: 2.0625rem;
  padding-inline: 1.5625rem;
  gap: 1rem;
  /* Desktop */
  padding-block: 4rem 2.125rem;
  padding-inline: 1.625rem;
  gap: 1.5rem;

  & img {
    width: 1.5rem;
    height: 1.5rem;
  }
  & #search {
    /* all: unset; */
    color: var(--white);
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 0;
    width: 100%;
    caret-color: var(--red);
    /* Mobile */
    font-size: 1rem;
    line-height: 1.25;
    /* Tablet */
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
.trending-con {
  display: flex;
  flex-direction: column;
  /* Mobile */
  gap: 1rem;
  padding-inline-start: 1rem;
  /* Tablet */
  gap: 1.5625rem;
  padding-inline-start: 1.5625rem;
  /* Desktop */
  gap: 1.5625rem;
  padding-inline-start: 1.625rem;
}

.trending-slider {
  display: inline flex;
  gap: 1rem;
  overflow-x: auto;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  & > ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
.bookmark-con {
  position: absolute;
  display: flex;
  top: 0.5rem;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: hsl(from var(--dark-blue) h s l / 0.5);
  color: var(--white);

  align-items: center;
  justify-content: center;

  & svg {
    /* color: hsl(from var(--dark-blue) h s l / 0.5); */

    & path {
      stroke: var(--white);
      color: transparent;
    }

    &:has(+ input:checked) {
      & path {
        color: var(--white);
      }
    }
  }

  &:hover {
    cursor: pointer;
    background-color: var(--white);

    & svg {
      /* stroke: black; */
      /* stroke-width: 3; */
      color: var(--white);

      & path {
        stroke: hsl(from var(--dark-blue) h s l / 0.5);
      }
    }
  }

  & input {
    display: none;
  }
}

.img-con {
  position: relative;
  width: max-content;
  height: max-content;

  & picture {
    /* Mobile */
    width: 15rem;
    height: 8.75rem;
    /* Tablet */
    width: 29.375rem;
    height: 14.375rem;

    & img {
      border-radius: 0.5rem;
    }
  }
}
.trending-details {
  position: absolute;
  color: var(--white);
  display: flex;
  flex-direction: column;
  /* Mobile */
  gap: 0.25rem;
  bottom: 1rem;
  left: 1rem;
  /* Tablet */
  gap: 0.1875rem;
  bottom: 1.5rem;
  left: 1.5rem;
  /* Desktop */
  gap: 0.3125rem;
  bottom: 1.5rem;
  left: 1.5rem;

  & .rating-con {
    display: flex;
    text-align: center;
    /* Mobile */
    gap: 0.5rem;
    font-size: 0.75rem;
    line-height: 1.25;
    /* Tablet */
    gap: 0.5rem;
    font-size: 0.9375rem;
    line-height: 1.266;
  }

  & .cate-con {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }

  & .title {
    /* Mobile */
    font-size: 0.9375rem;
    line-height: 1.26;
    /* Tablet */
    font-size: 1.5rem;
    line-height: 1.25;
  }
}
#trending-header {
  /* Mobile */
  font-size: 1.25rem;
  letter-spacing: -0.019375rem;
  /* Tablet */
  font-size: 2rem;
  letter-spacing: -0.03125rem;

  line-height: 1.25;
  font-weight: 300;
  color: var(--white);
}
.recommend-card {
  display: flex;
  flex-direction: column;
  position: relative;
  /* Mobile */
  width: 10.25rem;
  gap: 0.5rem;
  /* Tablet */
  width: 13.75rem;
  gap: 0.5rem;
  /* Desktop */
  width: 17.5em;
  gap: 0.5rem;

  & .trending-details {
    position: static;

    & .rating-con {
      /* Mobile */
      gap: 0.375rem;
      font-size: 0.6875rem;
      line-height: 1.27;
      /* tablet */
      gap: 0.375rem;
      font-size: 0.8125rem;
      line-height: 1.23;
    }

    & .cate-con {
      gap: 0.25rem;
    }

    & .title {
      font-size: 0.875rem;
      line-height: 1.28;
      /* Desktop */
      font-size: 1.125rem;
      line-height: 1.27;
    }
  }

  & picture {
    & img {
      border-radius: 0.5rem;
    }
  }
}
.recommend-con,
#movie,
#tv {
  /* justify-content: center; */
  display: flex;
  flex-wrap: wrap;
  /* Mobile */
  padding-inline: 1rem;
  gap: 0.9375rem;
  /* Tablet */
  padding-inline: 1.5rem;
  gap: 1.8125rem;
}

#recommend-header,
#movie-header,
#tv-header,
#bookmarked-movies-header,
#bookmarked-tv-header {
  width: 100%;
  color: var(--white);
  /* Mobile */
  font-size: 1.25rem;
  line-height: 1.25;
  letter-spacing: -0.019375rem;
  padding-block-end: 0.5625rem;
  /* Tablet */
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.03125rem;
  padding-block-end: 1.5rem;
  /*Dekstop */
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.03125rem;
  padding-block-end: 0.1875rem;
}
@media (min-width: 48rem) {
  header {
    padding-block: clamp(1.5rem, 1.1136rem + 0.8051vw, 1.8381rem)
      clamp(0rem, 3rem + -3.3333vw, 1.4rem);
    padding-inline: clamp(1.3631rem, 1.6564rem + -0.3259vw, 1.5rem)
      clamp(1.5rem, 0.2043rem + 2.6994vw, 2.6338rem);
    margin-inline: clamp(1.5625rem, 0.3482rem + 2.5298vw, 2.625rem)
      clamp(0rem, 3.3482rem + -3.7202vw, 1.5625rem);
    margin-block: clamp(1.4375rem, 0.3661rem + 2.2321vw, 2.375rem)
      clamp(0rem, -2.7143rem + 5.6548vw, 2.375rem);
    border-radius: clamp(0.625rem, -0.0893rem + 1.4881vw, 1.25rem);
    /* Tablet */
    /* padding-block: 1.5rem 1.4rem; */
    /* padding-inline: 1.5rem; */
    /* margin-inline: 1.5625rem; */
    /* margin-block-start: 1.4375rem; */
    /* border-radius: 0.625rem; */
    /* Desktop */
    /* padding-block: 1.838125rem 0; */
    /* padding-inline: 1.363125rem 2.63375rem; */
    /* margin-inline: 2.625rem 0; */
    /* margin-block: 2.375rem; */
    /* border-radius: 1.25rem; */
  }
}
@media (min-width: 90rem) {
  body {
    flex-direction: row;
  }

  header {
    flex-direction: column;
    max-width: 6rem;
    max-height: 60rem;
    justify-content: normal;
  }

  nav {
    padding-block: 4.6875rem 34.5rem;
  }
  #nav-menu {
    flex-direction: column;
  }
}
